extends layout

block content

	h1 Weather
	h2 <i class="fa fa-cloud"></i> <span>Currently:</span> #{current}&deg;
	img(src="https://scontent-amt2-1.xx.fbcdn.net/t31.0-8/14939572_10154669809415818_5869002170431703693_o.jpg")
